---
layout: default
---

{% include slider-accommodation.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <section class="events small" id="events-small">
          <header>
            <h2>Links</h2>
          </header>
          <div class="section-content">
            <ul class="list-links">
              <li><h4><a href="#amenities-concessions">Amenities & concessions</a></h4></li>
              <li><h4><a href="#attending-vldb">Attending VLDB?</a></h4></li>
            </ul>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Accommodation</h1>
          </header>
          <div class="section-content">
            <h3>Hilton Waikoloa Village</h3>
            <p>69-425 Waikoloa Beach Drive<br>
               Waikoloa, Hawai‘i 96738
            </p>

            <h3>Special group rate: $169 + tax per night</h3>
            <p>This special rate will be
              available during the conference, as well as up to three days before and after the
              conference on a limited basis.</p>

            <p><a href="http://www.hilton.com/en/hi/groups/personalized/K/KOAHWHH-ACM-20150823/index.jhtml"
                  target="_blank" rel="nofollow" style="color:red; font-weight:bold">
                Click <u>here</u> to reserve your room now.</a>  (See note below if you are attending VLDB.)</p>


            <a id="amenities-concessions"><h2>Amenities and concessions</h2></a>
            <p>
             <b>Note: you must book your room through the SoCC registration site to receive these benefits.</b>
            </p>

            <h3>Internet</h3>
            <p>
              <b>Free</b> in-room HSIA (High Speed Internet Access).
            </p>

            <h3>Parking</h3>
            <p>
              <b>$5 per night</b> for self-parking offered to SoCC attendees staying at the Hilton. The normal rate is $25. 
            </p>

            <h3>Optional resort fee</h3>
            <p>
              The resort fee is <b>waived</b> for SoCC attendees. Normally, it is a mandatory $25
              per day. However, attendees may purchase a Daily Resort Package at the reduced rate of
              $15 per room, per day to get the following benefits. PlayStation 3 access with
              unlimited movies and games; no access fee for local, toll-free and credit card calls;
              access to Hawaiian Cultural Activities; 20% discount on Lagoon Beach toys; 10%
              discount on Ocean Sports cruises.
            </p>
 
            <h3>Fitness room</h3>
            <p>
              SoCC attendees have complementary access to the Fitness Center between 5AM-11PM with
              their room key. This includes the cardio room and strength training room. It
              does <b>not</b> include access to the Kohala Spa or use of Jacuzzi, steam room,
              lockers, or showers (available for $20 fee).
            </p>

            <h3>Day care</h3>
            <p>
              <b>Club Keiki</b> offers full day, half day and night camp programs for children ages
              5-12. Reservations are required. Please call (808) 886-1234 extension 1202 by 4:00 pm
              the day prior to make your reservation. Click here for website, brochure and prices:
              <a href="http://www.clubkeikiwaikoloa.com/camp/" target="_blank" title="Club Keiki
              Waikoloa Camp" rel="nofollow">clubkeikiwaikoloa.com/camp</a>.  <br/><br/>
              <b>Malahini Keiki Care</b> offers babysitting and nanny service for children of all
              ages. Call (808) 331-2909 for reservations, or visit website for more
              info: <a href="http://www.mkcare.com" target="_blank" rel="nofollow">mkcare.com</a>
            </p>

            <a id="attending-vldb"><h2>Are you attending VLDB 2015?</h2></a>
            <p>
              <font color="red">
                If you will be attending VLDB 2015 directly following SoCC 2015, you <b>must</b>
                make an additional, separate hotel reservation for VLDB through the VLDB reservation
                portal. This will ensure the same discounted rate throughout your entire stay at the
                hotel. If you do not make new reservations, your rate will
                increase. Please <a href="http://vldb.org/2015/conference-venue.html"
                target="_blank" rel="nofollow">CLICK HERE</a> to make your reservation for the VLDB
                conference.
              </font>
            </p>
          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
