---
layout: default
---

{% include slider-attractions.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <section id="main-content">
          <header>
            <h1>Area attractions</h1>
          </header>
              <a href="http://www.ifa.hawaii.edu/info/vis/visiting-mauna-kea/visiting-the-summit.html" target="_blank">
                <h3>Mauna Kea summit</h3>
              </a>
              <a href="assets/img/big-island-13.jpg?attredirects=0" imageanchor="1"><img border="0" src="assets/img/big-island-13.jpg" style="width:100%"/></a>

              <a href="http://www.ifa.hawaii.edu/info/vis/visiting-mauna-kea/visiting-the-summit.html" target="_blank">
                <h3>Akaka Falls</h3>
              </a>
              <a href="assets/img/big-island-10.jpg?attredirects=0" imageanchor="1"><img border="0" src="assets/img/big-island-10.jpg" style="width:100%"/></a>

              <br/>
              <a href="http://www.ifa.hawaii.edu/info/vis/visiting-mauna-kea/star-gazing-program.html" target="_blank">
                <h3>Stargazing tour</h3>
              </a>
              <a href="assets/img/big-island-12.jpg?attredirects=0" imageanchor="1"><img border="0" src="assets/img/big-island-12.jpg" style="width:100%"/></a>

              <br/>
              <a href="http://www.hawaii-forest.com/index.php/tours/hawaii_observatory_tour_mauna_kea_stars_adventure" target="_blank">
                <h3>Summit adventure with Hawaii Forest &amp; Trail</h3>
              </a>
              <a href="assets/img/big-island-11.jpg?attredirects=0" imageanchor="1"><img border="0" src="assets/img/big-island-11.jpg" style="width:100%"/></a>


          <div class="section-content">
          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-9 -->

      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
