---
layout: default
---

{% include slider-bpa.html %}

<!-- Content -->
<div class="block">
    <div class="container">
        <div class="row">
            <!--MAIN Content-->
            <div class="col-md-9">
                <div id="page-main">
                    <section id="members">
                        <section id="best-paper-committee">
                          <header><h1>Best Paper Award Committee</h1></header>
                          <div class="row">
                          <div class="col-md-6">
                            {% include author-block-no-padding.html link="http://nyuad.nyu.edu/en/academics/faculty/azza-abouzied.html" name="Azza Abouzied" org="New York University Abu Dhabi" %}
                            {% include author-block-no-padding.html link="http://www.cs.washington.edu/people/faculty/magda" name="Magdalena Balazinska" org="University of Washington" %}
                            {% include author-block-no-padding.html link="http://faculty.cse.tamu.edu/dilma/" name="Dilma Da Silva" org="Texas A&M University" %}
                            {% include author-block-no-padding.html link="http://users.eecs.northwestern.edu/~jennie/" name="Jennie Duggan" org="Northwestern University" %}
                             </div>
                            <div class="col-md-6">
                            {% include author-block-no-padding.html link="https://www.cs.princeton.edu/~mfreed/" name="Michael Freedman" org="Princeton University" %}
                            {% include author-block-no-padding.html link="http://www.news.cs.nyu.edu/~jinyang/" name="Jinyang Li" org="New York University" %}
                            {% include author-block-no-padding.html link="http://www-bcf.usc.edu/~wyattllo/" name="Wyatt  Lloyd" org="University of Southern California" %}
                          </div>
                          </div> <!-- end row -->
                          </section><!-- /#program-chairs -->
                        </section>
                    </section>
                </div><!-- /#page-main -->
            </div><!-- /.col-md-6 -->

            <!--SIDEBAR Content-->

            <div class="col-md-3">
              {% include latest-news.html %}
            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Content -->
