---
layout: default
---

{% include slider.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <section class="events small" id="events-small">
          <header>
            <h2>Important dates</h2>
          </header>
          <div class="section-content">
            <article class="event nearest">
              <figure class="date">
                <div class="month">april</div>
                <div class="day">24</div>
              </figure>
              <aside>
                <header>
                  <strike>Submission deadline for papers 9.00PM (PST)</strike>
                </header>
              </aside>
            </article><!-- /article -->
            <article class="event nearest-second">
              <figure class="date">
                <div class="month">june</div>
                <div class="day">19</div>
              </figure>
              <aside>
                <header>
                  <strike>Notification of accepted papers</strike>
                </header>
              </aside>
            </article><!-- /article -->
            <article class="event nearest">
              <figure class="date">
                <div class="month">june</div>
                <div class="day">26</div>
              </figure>
              <aside>
                <header>
                  <strike>Submission deadline for posters</strike>
                </header>
              </aside>
            </article><!-- /article -->
            <article class="event nearest-second">
              <figure class="date">
                <div class="month">july</div>
                <div class="day">6</div>
              </figure>
              <aside>
                <header>
                  Notification of accepted posters
                </header>
              </aside>
            </article><!-- /article -->
            <article class="event nearest">
              <figure class="date">
                <div class="month">july</div>
                <div class="day">20</div>
              </figure>
              <aside>
                <header>
                  Deadline for camera ready copy of papers
                </header>
              </aside>
            </article><!-- /article -->
            <article class="event nearest">
              <figure class="date">
                <div class="month">aug</div>
                <div class="day">12</div>
              </figure>
              <aside>
                <header>
                  Deadline for camera ready copy of posters
                </header>
              </aside>
            </article><!-- /article -->
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->

        <section class="events small" id="events-small">
          <header>
            <h2>Important links</h2>
          </header>
          <div class="section-content">
            <ul class="list-links">
              <li><h4><a href="papers.html">Call for papers</a></h4></li>
              <li><h4><a href="posters.html">Call for posters</a></h4></li>
			  <li><h4><a href="camera-ready-instructions.html">Camera-ready instructions</a></h4></li>
            </ul>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->

        <section class="events small" id="events-small">
          <header>
            <h2>Past events</h2>
          </header>
          <div class="section-content">
            <ul class="list-links">
              <li><h4><a href="https://sites.google.com/site/2014socc/" target="_blank">2014</a></h4></li>
              <li><h4><a href="https://sites.google.com/site/2013socc/" target="_blank">2013</a></h4></li>
              <li><h4><a href="http://www.socc2012.org/" target="_blank">2012</a></h4></li>
              <li><h4><a href="http://socc2011.gsd.inesc-id.pt/" target="_blank">2011</a></h4></li>
              <li><h4><a href="http://research.microsoft.com/en-us/um/redmond/events/socc2010/" target="_blank">2010</a></h4></li>
            </ul>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <div class="section-content">
            <header><h2>ACM Symposium on Cloud Computing 2015 (SoCC'15)</h2></header>
            <p>
              The ACM Symposium on Cloud Computing 2015 (SoCC'15) is the sixth in an established series of symposia that bring
              together researchers, developers, users, and practitioners interested in cloud computing. SoCC is co-sponsored
              by the ACM Special Interest Groups on Management of Data (SIGMOD) and on Operating Systems (SIGOPS).
            </p>

            <a id="goldsponsors"><h2>Gold sponsors</h2></a>
              {% include gold-sponsors.html %}
            <br>
            <br>
            <a id="silversponsors"><h2>Silver sponsors</h2></a>
              {% include silver-sponsors.html %}
            <br>
            <br>
            <a id="studentsupport"><h2>Student support</h2></a>
              {% include student-support.html %}
            <br>
            <br>


          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
