---
layout: default
---

<!-- Content -->
<div class="block">
    <div class="container">
        <div class="row">
            <!--MAIN Content-->
            <div class="col-md-9">
                <div id="page-main">
                    <section id="members">
                        <header><h1>Conference Officers</h1></header>
                        <section id="general-chair">
                            <div class="row">
                              <div class="col-md-6">
                                <header><h2 class="no-divider">General Chair</h2></header>
                                {% include author-block.html link="http://perspolis.usc.edu/Users/shahram/" name="Shahram Ghandeharizadeh" org="University of Southern California" %}
                              </div>
                              <div class="col-md-6">
                                <header><h2 class="no-divider">Local Arrangements</h2></header>
                                {% include author-block.html link="http://www.hpl.hp.com/people/kevin_wilkinson/" name="Kevin Wilkinson" org="HP Labs" %}
                              </div>
                            </div>
                        </section><!-- /#general-chair -->

                        <section id="poster-chair">
                          <div class="row">
                            <div class="col-md-6">
                              <header><h2 class="no-divider">Treasurer</h2></header>
                              {% include author-block.html link="https://www.linkedin.com/pub/donovan-schneider/0/34b/534" name="Donovan Schneider" org="Salesforce" %}
                            </div>
                            <div class="col-md-6">
                              <header><h2 class="no-divider">Poster & Demonstration</h2></header>
                              {% include author-block.html link="http://www.maheshb.net/" name="Mahesh Balakrishnan" org="VMWare" %}
                            </div>
                          </div>
                        </section><!-- /#poster-chair -->

                        <section id="proceedings">
                          <div class="row">
                            <div class="col-md-6">
                              <header><h2 class="no-divider">Webmaster</h2></header>
                              {% include author-block.html link="http://research.google.com/pubs/JohnWilkes.html" name="John Wilkes" org="Google" %}
                            </div>
                            <div class="col-md-6">
                              <header><h2 class="no-divider">Publication & Proceedings</h2></header>
                              {% include author-block.html link="https://www.linkedin.com/pub/sumita-barahmand/1b/61a/609" name="Sumita Barahmand" org="Microsoft" %}
                            </div>
                          </div>
                        </section><!-- /#webmaster -->


                        <section id="program-chairs">
                            <header><h2 class="no-divider">Program Chairs</h2></header>
                            <div class="row">
                              <div class="col-md-6">
                                {% include author-block.html link="http://www.cs.washington.edu/people/faculty/magda" name="Magdalena Balazinska" org="University of Washington" %}
                              </div>

                              <div class="col-md-6">
                                {% include author-block.html link="https://www.cs.princeton.edu/~mfreed/" name="Michael Freedman" org="Princeton University" %}
                              </div>
                            </div> <!-- end row -->
                        </section><!-- /#program-chairs -->

                        <section id="publicity">
                            <header><h2 class="no-divider">Publicity Chairs</h2></header>
                            <div class="row">
                              <div class="col-md-6">
                                {% include author-block.html link="#" name="Sameet Agarwal" org="Facebook" %}
                              </div>
                              <div class="col-md-6">
                                {% include author-block.html link="https://www.linkedin.com/in/kramasamy" name="Karthik Ramasamy" org="Twitter" %}
                              </div>
                            </div>
                        </section><!-- /#publicity -->

                        <section id="steering-committee">
                            <header><h2 class="no-divider">Steering Committee</h2></header>
                            <div class="row">
                              <div class="col-md-6">
                                 {% include author-block.html link="http://research.microsoft.com/en-us/people/philbe/" name="Phil Bernstein" org="Microsoft" %}
                              </div>
                              <div class="col-md-6">
                                {% include author-block.html link="http://www.ics.uci.edu/~mjcarey/" name="Michael Carey" org="University of California, Irvine" %}
                              </div>
                            </div><!-- /.row -->
                            <div class="row">
                              <div class="col-md-6">
                                {% include author-block.html link="http://db.cs.berkeley.edu/jmh/" name="Joseph Hellerstein" org="University of California, Berkeley" %}
                              </div>
                              <div class="col-md-6">
                                {% include author-block.html link="https://www.linkedin.com/pub/marvin-theimer/0/40/8bb" name="Marvin Theimer" org="Amazon" %}
                              </div>
                            </div><!-- /.row -->
                            <div class="row">
                              <div class="col-md-6">
                                {% include author-block.html link="http://research.google.com/pubs/JohnWilkes.html" name="John Wilkes" org="Google" %}
                              </div>
                              <div class="col-md-6">
                                {% include author-block.html link="http://people.epfl.ch/cgi-bin/people?id=155705&op=bio&lang=en&cvlang=en" name="Willy Zwaenepoel" org="EPFL" %}
                              </div>
                            </div>
                        </section><!-- /#steering-committee -->
                    </section>
                </div><!-- /#page-main -->
            </div><!-- /.col-md-6 -->

            <!--SIDEBAR Content-->

            <div class="col-md-3">
              <section class="news-small" id="news-small">
                <header>
                  <h2>Latest News</h2>
                </header>
                <div class="section-content">
                  <a class="twitter-timeline" href="https://twitter.com/SoCC2015" data-widget-id="572628227764404224" data-tweet-limit="10"i data-chrome="noborders transparent">
                    Tweets by @SoCC2015
                  </a>
                </div><!-- /.section-content -->
              </section><!-- /.news-small -->
            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Content -->
