---
layout: default
---

{% include slider-cf-posters.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <section class="events small" id="events-small">
          <header>
            <h2>Dates</h2>
          </header>
          <div class="section-content">
            <article class="event nearest">
              <figure class="date">
                <div class="month">june</div>
                <div class="day">26</div>
              </figure>
              <aside>
                <header>
                  Submission deadline @9.00PM (PDT)
                </header>
              </aside>
            </article><!-- /article -->
            <article class="event nearest-second">
              <figure class="date">
                <div class="month">july</div>
                <div class="day">6</div>
              </figure>
              <aside>
                <header>
                  Notification of acceptance
                </header>
              </aside>
            </article><!-- /article -->
            <article class="event nearest">
              <figure class="date">
                <div class="month">Aug</div>
                <div class="day">12</div>
              </figure>
              <aside>
                <header>
                  Deadline for camera ready copy
                </header>
              </aside>
            </article><!-- /article -->
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->

        <section class="events small" id="events-small">
          <header>
            <h2>Links</h2>
          </header>
          <div class="section-content">
            <ul class="list-links">
              <li><h4><a href="#submission">Poster submission</a></h4></li>
              <li><h4><a href="papers.html">Call for papers</a></h4></li>
			  <li><h4><a href="camera-ready-instructions.html">Camera-ready instructions</a></h4></li>
              <li><h4><a href="program-committee.html">Program committee</a></h4></li>
            </ul>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Call for posters</h1>
          </header>
          <div class="section-content">
            <p>The SoCC poster sessions provide an opportunity to present works-in-progress in an informal setting.
            Topics of interest are the same as the research topics in the SoCC conference call for papers. While
            anyone can submit a proposal, preference will be given to posters where the primary contribution is
            from one or more students, or from an industry/start-up organization, or from a VLDB participant.</p>

            <p>All accepted SoCC papers are expected to submit a poster for shepherding.
            We also encourage submissions from authors who submitted papers to VLDB, which is
            co-located with SoCC.
            </p>

	    <p>We strongly recommend that you follow the advice in <a href="http://goo.gl/HUVffd"
            target="_blank">Creating an effective poster</a> by John Wilkes.</p>

            <a id="submission"><h2>To submit a poster</h2></a>
            <p>Submit a 1-page PDF draft of your poster, plus (optionally) a second page that is a
              text summary of its messages in narrative form.</p>
              <ul>
                <li><p>Plan on a final version that will be A0 paper size (841 x 1189mm); portrait mode is recommended.</p></li>
                <li><p>Include authors' names and affiliation: reviewing is single-blind.</p></li>
              </ul>

            <p>By submitting a poster, you grant SoCC permission to post the poster on this web site,
              if accepted. (You'll be given an opportunity to make changes before it's posted.)
              Note that accepted posters will <em>not</em> be published in the ACM Digital Library.

            <p>Submit your poster here: <a href="https://socc15.cs.princeton.edu/socc15posters/" target="_blank">https://socc15.cs.princeton.edu/socc15posters/</a>.</p>

          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
