---
layout: default
---

<!-- Content -->
<div class="block">
    <div class="container">
        <div class="row">
            <!--MAIN Content-->
            <div class="col-md-9">
                <div id="page-main">
                    <section id="members">
                        <header><h1>Program Committee</h1></header>
                        <section id="program-chairs">
                          <header><h2 class="no-divider">Program Chairs</h2></header>
                          <div class="row">
                            <div class="col-md-6">
                              {% include author-block.html link="http://www.cs.washington.edu/people/faculty/magda" name="Magdalena Balazinska" org="University of Washington" %}
                            </div>

                            <div class="col-md-6">
                              {% include author-block.html link="https://www.cs.princeton.edu/~mfreed/" name="Michael Freedman" org="Princeton University" %}
                            </div>
                          </div> <!-- end row -->
                        </section><!-- /#program-chairs -->


                        <section id="program-chairs">
                          <header><h2 class="no-divider">Other members</h2></header>
                          <div class="row">
                            <div class="col-md-6">
                              {% include author-block.html link="http://qcri.org.qa/page?a=117&name=Ashraf_Aboulnaga&pid=110&lang=en-CA" name="Ashraf Aboulnaga" org="Qatar Computing Research Institute" %}
                              {% include author-block.html link="#" name="Azza Abouzied" org="New York University Abu Dhabi" %}
                              {% include author-block.html link="#" name="Foto Afrati" org="National Technical Universtity of Athens" %}
                              {% include author-block.html link="#" name="Peter Bailis" org="University of California, Berkeley" %}
                              {% include author-block.html link="#" name="Mahesh Balakrishnan" org="VMware" %}
                              {% include author-block.html link="#" name="Sumita  Barahmand" org="Microsoft" %}
                              {% include author-block.html link="#" name="Spyros Blanas" org="The Ohio State University" %}
                              {% include author-block.html link="#" name="Jeff Chase" org="Duke University" %}
                              {% include author-block.html link="#" name="Tyson Condie" org="University of California, Los Angeles" %}
                              {% include author-block.html link="#" name="Dilma Da Silva" org="Texas A&M University" %}
                              {% include author-block.html link="#" name="Sudipto Das" org="Microsoft Research" %}
                              {% include author-block.html link="#" name="Fred Douglis" org="EMC" %}
                              {% include author-block.html link="#" name="Jennie Duggan" org="Northwestern University" %}
                              {% include author-block.html link="#" name="Roxana Geambasu" org="Columbia University" %}
                              {% include author-block.html link="#" name="Ali Ghodsi" org="University of California, Berkeley & Databricks" %}
                              {% include author-block.html link="#" name="Andreas Haeberlen" org="University of Pennsylvania" %}
                              {% include author-block.html link="#" name="Saven Bingsheng He" org="Nanyang Technological University, Singapore" %}
                              {% include author-block.html link="#" name="Srikanth Kandula" org="Microsoft Resarch" %}
                              {% include author-block.html link="#" name="Martin Kersten" org="CWI Amsterdam, Netherlands" %}
                              {% include author-block.html link="#" name="Eddie Kohler " org="Harvard University" %}
                              {% include author-block.html link="#" name="Donald Kossman" org="Microsoft Research" %}
                              {% include author-block.html link="#" name="Dejan Kostic" org="KTH Royal Institute of Technology" %}
                              {% include author-block.html link="#" name="Jinyang Li" org="New York University" %}
                            </div>
                            <div class="col-md-6">
                              {% include author-block.html link="#" name="Wyatt  Lloyd" org="University of Southern California" %}
                              {% include author-block.html link="#" name="Dahlia Malkhi" org="VMware Research" %}
                              {% include author-block.html link="#" name="James Mickens" org="Microsoft Research" %}
                              {% include author-block.html link="#" name="Umar Farooq Minhas" org="IBM Almaden Research Center" %}
                              {% include author-block.html link="#" name="Barzan Mozafari" org="University of Michigan" %}
                              {% include author-block.html link="#" name="Ippokratis Pandis" org="Cloudera" %}
                              {% include author-block.html link="#" name="Olga Papaemmanouil" org="Brandeis University" %}
                              {% include author-block.html link="#" name="Jignesh Patel" org="University of Wisconsin" %}
                              {% include author-block.html link="#" name="Simon Peter" org="University of Washington" %}
                              {% include author-block.html link="#" name="Karthik Ramasamy" org="Twitter" %}
                              {% include author-block.html link="#" name="Christopher Re" org="Stanford University" %}
                              {% include author-block.html link="#" name="Benjamin Reed" org="Facebook" %}
                              {% include author-block.html link="#" name="Mary Roth" org="IBM Almaden Research Center" %}
                              {% include author-block.html link="#" name="Russell Sears" org="Pure Storage" %}
                              {% include author-block.html link="#" name="Margo Seltzer" org="Harvard University" %}
                              {% include author-block.html link="#" name="Siddhartha Sen" org="Microsoft Resarch" %}
                              {% include author-block.html link="#" name="David Shue" org="Google" %}
                              {% include author-block.html link="#" name="Nesime Tatbul" org="Intel Labs and MIT" %}
                              {% include author-block.html link="#" name="Doug  Terry" org="Samsung Research America" %}
                              {% include author-block.html link="#" name="Ymir  Vigfusson" org="Emory University & Reykjavik University" %}
                              {% include author-block.html link="#" name="Bernard Wong" org="University of Waterloo" %}
                              {% include author-block.html link="#" name="Yiying Zhang" org="University of California, San Diego" %}
                              {% include author-block.html link="#" name="Ben Zhao" org="University of California, Santa Barbara" %}
                            </div>
                          </div> <!-- end row -->
                        </section><!-- /#program-chairs -->

                    </section>
                </div><!-- /#page-main -->
            </div><!-- /.col-md-6 -->

            <!--SIDEBAR Content-->

            <div class="col-md-3">
              <section class="news-small" id="news-small">
                <header>
                  <h2>Latest News</h2>
                </header>
                <div class="section-content">
                  <a class="twitter-timeline" href="https://twitter.com/SoCC2015" data-widget-id="572628227764404224" data-tweet-limit="10"i data-chrome="noborders transparent">
                    Tweets by @SoCC2015
                  </a>
                </div><!-- /.section-content -->
              </section><!-- /.news-small -->
            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Content -->
