---
layout: default
---

<!-- Content -->
<div class="block">
    <div class="container">
        <div class="row">
            <!--MAIN Content-->
            <div class="col-md-9">
                <div id="page-main">
                    <section id="members">
                        <header><h1>Program Committee</h1></header>
                        <section id="program-chairs">
                          <header><h2 class="no-divider">Program Chairs</h2></header>
                          <div class="row">
                            <div class="col-md-6">
                              {% include author-block.html link="http://www.cs.washington.edu/people/faculty/magda" name="Magdalena Balazinska" org="University of Washington" %}
                            </div>

                            <div class="col-md-6">
                              {% include author-block.html link="https://www.cs.princeton.edu/~mfreed/" name="Michael Freedman" org="Princeton University" %}
                            </div>
                          </div> <!-- end row -->
                        </section><!-- /#program-chairs -->
                    </section>
                </div><!-- /#page-main -->
            </div><!-- /.col-md-6 -->

            <!--SIDEBAR Content-->

            <div class="col-md-3">
              <section class="news-small" id="news-small">
                <header>
                  <h2>Latest News</h2>
                </header>
                <div class="section-content">
                  <a class="twitter-timeline" href="https://twitter.com/SoCC2015" data-widget-id="572628227764404224" data-tweet-limit="10"i data-chrome="noborders transparent">
                    Tweets by @SoCC2015
                  </a>
                </div><!-- /.section-content -->
              </section><!-- /.news-small -->
            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Content -->
