---
layout: default
---

{% include slider-registration.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <section class="events small" id="events-small">
          <header>
            <h2>Dates</h2>
          </header>
          <div class="section-content">
            <article class="event nearest">
              <figure class="date">
                <div class="month">July</div>
                <div class="day">8</div>
              </figure>
              <aside>
                <header>
                  <strike>Early registration deadline</strike>
                </header>
              </aside>
            </article><!-- /article -->
            <article class="event nearest-second">
              <figure class="date">
                <div class="month">August</div>
                <div class="day">25</div>
              </figure>
              <aside>
                <header>
                  <strike>Late registration deadline</strike>
                </header>
              </aside>
            </article><!-- /article -->
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->

       <br/>
        <section class="events small" id="events-small">
          <header>
            <h2>Links</h2>
          </header>
          <div class="section-content">
            <ul class="list-links">
              <li><h4><a href="accommodation.html">Accommodation</a></h4></li>
            </ul>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Registration</h1>
          </header>
          <div class="section-content">
            <article>
              <h3>Fees</h3>
              <p>
                Registration fees for SoCC 2015 are shown below. Note that the early registration ends on <b>July 8th</b>
                and late registration ends on <b>August 25th</b>.
              </p>

              <div class="table-responsive">
                                <table class="table table-hover course-list-table">
                                    <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Early registration</th>
                                        <th>Late registration</th>
                                        <th>Onsite</th>
                                    </tr>

                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>ACM Members</th>
                                        <th>$ 690</th>
                                        <th>$ 800</th>
                                        <th>$ 880</th>
                                    </tr>
                                    <tr>
                                        <th>SIGMOD/SIGOPS Members</th>
                                        <th>$ 690</th>
                                        <th>$ 800</th>
                                        <th>$ 880</th>
                                    </tr>
                                    <tr>
                                        <th>Students</th>
                                        <th>$ 350</th>
                                        <th>$ 400</th>
                                        <th>$ 450</th>
                                    </tr>
                                    <tr>
                                        <th>Non-Members</th>
                                        <th>$ 900</th>
                                        <th>$ 1,050</th>
                                        <th>$ 1,200</th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

             </article>
             <div>
               <a class="btn btn-large" href='http://www.regonline.com/socc2015' target='_blank' title='ACM Symposium on Cloud Computing 2015 powered by Regonline'><span id='regLink'>Register Now!</span></a>
             </div>


             <!--BEGIN REGONLINE LINK CODE!-->
<!--
<table class='pbrROL'><tr><td><div class='pbrROL-01' ><div class='ROLbtn'><ul><li><a href='http://www.regonline.com/socc2015' target='_blank' title='ACM Symposium on Cloud Computing 2015 powered by Regonline'><span id='regLink'>Register Now!</span></a></li></ul></div></div></td></tr></table><link rel="stylesheet" href="https://www.regonline.com/styles/ClientButton.css" type="text/css"><script type="text/javascript" src="https://www.regonline.com/ScriptLibrary/ClientButtonJS.ashx" ></script>
-->
<!--END REGONLINE LINK CODE!-->


              <h3>Student scholarships</h3>
              <p>
                SoCC 2015, through generous donations from conference sponsors, will offer scholarships to assist students attending the conference. Visit the
                <a href="scholarships.html">student scholarship page</a> for more information about how to apply.
              </p>

              <h3>Visa support letters</h3>
              <p>
                If you need help obtaining a visa, you can find more information in the
                <a href="visa.html">visa support letters page</a>.
              </p>

          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
