---
layout: default
---

{% include slider-schedule.html %}

<!-- Content -->
<div class="block">
<div class="container">
<div class="row">
  <div class="col-md-9">
    <section id="main-content">
      <div class="section-content">
        <h2>Schedule</h2>
        {% include session.html date="Wednesday, August 26th" key="day0" showlinks="true" %}
        {% include session.html date="Thursday, August 27th" key="day1" showlinks="true" %}
        {% include session.html date="Friday, August 28th" key="day2" showlinks="true" %}
        {% include session.html date="Saturday, August 29th" key="day3" showlinks="true" %}
      </div><!-- /.section-content -->
    </section><!-- /.main-content -->
  </div><!-- /.col-md-9 -->

  <div class="col-md-3">
    {% include latest-news.html %}
  </div><!-- /.col-md-3 -->

</div><!-- /.row -->
</div><!-- /.container -->
</div>
<!-- end Content -->
