---
layout: default
---

{% include slider-location.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <section class="events small" id="events-small">
          <header>
            <h2>Links</h2>
          </header>
          <div class="section-content">
            <ul class="list-links">
              <li><h4><a href="#area-attractions">Area attractions</a></h4></li>
            </ul>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->
      </div><!-- /.col-md-2 -->

      <div class="col-md-7">
        <section id="main-content">
          <header>
            <h1>Test Page</h1>
          </header>
          <div class="section-content">
            <h3>This is a test page</h3>
	    <p>Magda is testing that she can make changes.</p>
            <p>Updated 2015-05-07.  john wilkes</p>
          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-7 -->

      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
