$color-primary: #012951;
$color-secondary: #ea6645;
$color-grey-dark: #252525;
$color-grey-medium: #767676; // paragraph text color
$color-grey-light: #c5c5c5;
$color-grey-background: #f5f5f5;

