<!-- Footer -->
<footer id="page-footer">
  <section id="footer-top">
    <div class="container">
      <div class="footer-inner">
        <div class="footer-social">
          <figure>Follow us:</figure>
          <div class="icons">
            <a href="https://twitter.com/SoCC2015"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/socc2015"><i class="fa fa-facebook"></i></a>
          </div><!-- /.icons -->
        </div><!-- /.social -->
        <div class="search pull-right">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-btn">
              <button type="submit" class="btn"><i class="fa fa-search"></i></button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.pull-right -->
      </div><!-- /.footer-inner -->
    </div><!-- /.container -->
  </section><!-- /#footer-top -->

  <section id="footer-bottom">
    <div class="container">
      <div class="footer-inner">
        <div class="copyright"></div><!-- /.copyright -->
      </div><!-- /.footer-inner -->
    </div><!-- /.container -->
  </section><!-- /#footer-bottom -->

</footer>
<!-- end Footer -->
