<!-- Footer -->
<footer id="page-footer">
  <section id="footer-top">
    <div class="container">
      <div class="footer-inner">
        <div class="footer-social">
          <figure>Follow us:</figure>
          <div class="icons">
            <a href="https://twitter.com/SoCC2015"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/socc2015"><i class="fa fa-facebook"></i></a>
          </div><!-- /.icons -->
        </div><!-- /.social -->
        <div class="search pull-right">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-btn">
              <button type="submit" class="btn"><i class="fa fa-search"></i></button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.pull-right -->
      </div><!-- /.footer-inner -->
    </div><!-- /.container -->
  </section><!-- /#footer-top -->

  <section id="footer-content">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <aside class="logo">
            <img src="assets/img/logo-white.png" class="vertical-center">
          </aside>
        </div><!-- /.col-md-3 -->
        <div class="col-md-3 col-sm-4">
          <aside>
            <header><h4>Contact Us</h4></header>
            <address>
              <strong>University of Universo</strong>
              <br>
              <span>4877 Spruce Drive</span>
              <br><br>
              <span>West Newton, PA 15089</span>
              <br>
              <abbr title="Telephone">Telephone:</abbr> +1 (734) 123-4567
              <br>
              <abbr title="Email">Email:</abbr> <a href="#">questions@youruniversity.com</a>
            </address>
          </aside>
        </div><!-- /.col-md-3 -->
        <div class="col-md-3 col-sm-4">
          <aside>
            <header><h4>Important Links</h4></header>
            <ul class="list-links">
              <li><a href="#">Future Students</a></li>
              <li><a href="#">Alumni</a></li>
              <li><a href="#">Give a Donation</a></li>
              <li><a href="#">Professors</a></li>
              <li><a href="#">Libary & Health</a></li>
              <li><a href="#">Research</a></li>
            </ul>
          </aside>
        </div><!-- /.col-md-3 -->
        <div class="col-md-3 col-sm-4">
          <aside>
            <header><h4>About Universo</h4></header>
            <p>Aliquam feugiat turpis quis felis adipiscing, non pulvinar odio lacinia.
              Aliquam elementum pharetra fringilla. Duis blandit, sapien in semper vehicula,
              tellus elit gravida odio, ac tincidunt nisl mi at ante. Vivamus tincidunt nunc nibh.
            </p>
            <div>
              <a href="" class="read-more">All News</a>
            </div>
          </aside>
        </div><!-- /.col-md-3 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="background"><img src="assets/img/background-city.png" class="" alt=""></div>
  </section><!-- /#footer-content -->

  <section id="footer-bottom">
    <div class="container">
      <div class="footer-inner">
        <div class="copyright">© ACM SoCC, All rights reserved</div><!-- /.copyright -->
      </div><!-- /.footer-inner -->
    </div><!-- /.container -->
  </section><!-- /#footer-bottom -->

</footer>
<!-- end Footer -->
