<div class="row">
  <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="http://www.facebook.com" target="_blank" rel="nofollow"><img alt="www.facebook.com" border="0" src="assets/img/logos-Facebook.png" style="border:0px currentColor"/></a>
  </div>
  <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="http://www.microsoft.com" target="_blank" rel="nofollow"><img alt="www.microsoft.com" border="0" height="51" src="assets/img/logos-Microsoft.jpg" style="border:0px currentColor" width="200" /></a>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="http://www.oracle.com" target="_blank" rel="nofollow"><img alt="www.oracle.com" border="0" src="assets/img/logos-Oracle.jpg" style="border:0px currentColor" width="200" /></a>
  </div>
  <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="http://www.ibm.com" target="_blank" rel="nofollow"><img alt="www.ibm.com" border="0" src="assets/img/logos-IBM.jpg" style="border:0px currentColor" width="200" /></a>
  </div>
</div>
