<!-- Header -->
<div class="navigation-wrapper">
  <div class="branding">
    <div class="container">
      <div class="navbar-brand nav" id="brand">
        <a href="index.html"><img src="assets/img/logo.png" alt="brand"></a>
      </div>
      <div class="search pull-right">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
          <span class="input-group-btn">
            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.pull-right -->
    </div>
  </div>

  <div class="primary-navigation-wrapper">
    <header class="navbar" id="top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse navbar-left" role="navigation">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="#" class="has-child no-link">Contributors</a>
              <ul class="list-unstyled child-navigation">
                <li><a href="papers.html">Call for papers</a></li>
                <li><a href="posters.html">Call for posters</a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="has-child no-link">Organization</a>
              <ul class="list-unstyled child-navigation">
                <li><a href="officers.html">Conference officers</a></li>
                <li><a href="program.html">Program committee</a></li>
              </ul>
            </li>
            <li>
              <a href="sponsors.html">Sponsorship</a>
            </li>
            <li>
              <a href="venue.html">Venue</a>
            </li>
          </ul>
        </nav><!-- /.navbar collapse-->
        <div class="social">
          <div class="icons">
            <a href="https://twitter.com/SoCC2015"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/socc2015"><i class="fa fa-facebook"></i></a>
          </div><!-- /.icons -->
        </div>
      </div><!-- /.container -->
    </header><!-- /.navbar -->
  </div><!-- /.primary-navigation -->
</div>
<!-- end Header -->
