<div class="author-block member-detail">
  <figure class="author-picture"><img src="{{include.photo}}" alt=""></figure>
  {% assign speaker = site.data.keynotes[include.key] %}
  <article id ="{{include.key}}"  class="paragraph-wrapper">
    <div class="inner">
      <header><h2>{{speaker.name}}</h2></header>
      {% if speaker.url %}
      <figure><a href="{{speaker.url}}">{{ speaker.title }}</a></figure>
      {% else %}
      <figure>{{speaker.title}}</figure>
      {% endif %}
    <hr>
    <h3 class="speaker-header">Abstract</h3>
    <p style="color:#373737;">{{speaker.abstract}}</p>
    <h3 class="speaker-header">Bio</h3>
    <p style="color:#373737;">{{speaker.bio1}}</p>
    {% if speaker.bio2 %}
      <p style="color:#373737;">{{speaker.bio2}}</p>
    {% endif %}
    </div>
  </article>
</div>
