<!-- Slider -->
<div id="slider">
  <div class="container">
    <div class="slider-wrapper">
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <div class="row">
            <div class="image-carousel">
              <div class="slide">
                <div class="image-carousel-slide"><img src="assets/img/big-island-2.jpg" alt=""></div>
              </div><!-- /.slide -->
            </div><!-- /.image-carousel -->
          </div><!-- /.row -->
        </div><!-- /.col-md-8 -->
        <div class="col-md-4 col-sm-12">
          <header>
            <h2>Big Island, Hawai'i</h2>
          </header>
        </div><!-- /.col-md-4 -->
      </div><!-- /.row -->
    </div><!-- /.slider-wrapper -->
  </div><!-- /.container -->
</div>
<!-- end Slider -->
