<div class="author-block" style="padding: 4px 10px 4px 0; margin:0; border-bottom:none; background-color:white;">
  <article class="paragraph-wrapper" style="padding-left:0;">
    <div class="inner">
        {% if include.link %}
        <header><a target="_blank" href="{{include.link}}">{{include.name}}</a></header>
        {% else %}
        <header>{{include.name}}</header>
        {% endif %}
        {% if include.org %}
        <figure>{{include.org}}</figure>
        {% endif %}
    </div>
  </article>
</div><!-- /.author -->
