<div class="row">
  <div class="col-md-3">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h4 class="text-center">FREE PLAN</h4>
      </div>
      <div class="panel-body text-center">
        <p class="lead">
          <strong>$10 / month</strong></p>
      </div>
      <ul class="list-group list-group-flush text-center">
        <li class="list-group-item"><i class="icon-ok text-danger"></i>Personal use</li>
        <li class="list-group-item"><i class="icon-ok text-danger"></i>Unlimited projects</li>
        <li class="list-group-item"><i class="icon-ok text-danger"></i>27/7 support</li>
      </ul>
      <div class="panel-footer" style="padding: 8px; border-top: 0px;">
        <a class="btn btn-lg btn-block btn-success" href="http://www.jquery2dotnet.com" style="border-radius: 6px; padding: 10px 16px; background-color: #47A447;">BUY NOW!</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h4 class="text-center">FREE PLAN</h4>
      </div>
      <div class="panel-body text-center">
        <p class="lead">
          <strong>$10 / month</strong></p>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item"><i class="icon-ok text-danger"></i>Personal use</li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i>Unlimited projects</li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i>27/7 support</li>
        </ul>
        <div class="panel-footer" style="padding: 8px; border-top: 0px;">
          <a class="btn btn-lg btn-block btn-success" href="http://www.jquery2dotnet.com" style="border-radius: 6px; padding: 10px 16px; background-color: #47A447;">BUY NOW!</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h4 class="text-center">FREE PLAN</h4>
        </div>
        <div class="panel-body text-center">
          <p class="lead">
            <strong>$10 / month</strong></p>
          </div>
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item"><i class="icon-ok text-danger"></i>Personal use</li>
            <li class="list-group-item"><i class="icon-ok text-danger"></i>Unlimited projects</li>
            <li class="list-group-item"><i class="icon-ok text-danger"></i>27/7 support</li>
          </ul>
          <div class="panel-footer" style="padding: 8px; border-top: 0px;">
            <a class="btn btn-lg btn-block btn-success" href="http://www.jquery2dotnet.com" style="border-radius: 6px; padding: 10px 16px; background-color: #47A447;">BUY NOW!</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h4 class="text-center">FREE PLAN</h4>
          </div>
          <div class="panel-body text-center">
            <p class="lead">
              <strong>$10 / month</strong></p>
            </div>
            <ul class="list-group list-group-flush text-center">
              <li class="list-group-item"><i class="icon-ok text-danger"></i>Personal use</li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i>Unlimited projects</li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i>27/7 support</li>
            </ul>
            <div class="panel-footer" style="padding: 8px; border-top: 0px;">
              <a class="btn btn-lg btn-block btn-success" href="http://www.jquery2dotnet.com" style="border-radius: 6px; padding: 10px 16px; background-color: #47A447;">BUY NOW!</a>
            </div>
          </div>
        </div>
</div>
