<!-- START 4 column pricing table(equal height) -->

<div class="row pricing-table">
  <div class="col-md-3">
  <div class="plan">
    <div class="plan-name">
      <h4>Platinum</h4>
      <span>$15,000</span>
    </div>
    <ul style="padding:0;">
      <li class="plan-feature">Logo in Web Banner</li>
      <li class="plan-feature">Logo in Call for Participation</li>
      <li class="plan-feature">Logo in Program Brochure</li>
      <li class="plan-feature">Logo in Home Page</li>
      <li class="plan-feature">Setup recruiting tables</li>
      <li class="plan-feature">Distribute advertising materials</li>
      <li class="plan-feature">8 free registrations</li>
      <li class="plan-feature">Sponsor recruiting receptions</li>
    </ul>
  </div>
  </div>
  <div class="col-md-3">
  <div class="plan">
    <div class="plan-name">
      <h4>Gold</h4>
      <span>$10,000</span>
    </div>
    <ul style="padding:0;">
      <li class="plan-feature">Logo in Web Banner</li>
      <li class="plan-feature">Logo in Call for Participation</li>
      <li class="plan-feature">Logo in Program Brochure</li>
      <li class="plan-feature">Logo in Home Page</li>
      <li class="plan-feature">Setup recruiting tables</li>
      <li class="plan-feature">Distribute advertising materials</li>
      <li class="plan-feature">4 free registrations</li>
      <li class="plan-feature">Sponsor recruiting receptions</li>
    </ul>
  </div>
  </div>
  <div class="col-md-3">
  <div class="plan">
    <div class="plan-name">
      <h4>Silver</h4>
      <span>$5,000</span>
    </div>
    <ul style="padding:0;">
      <li class="plan-feature">Logo in Web Banner</li>
      <li class="plan-feature">Logo in Call for Participation</li>
      <li class="plan-feature">Logo in Program Brochure</li>
      <li class="plan-feature">Logo in Home Page</li>
      <li class="plan-feature">Setup recruiting tables</li>
      <li class="plan-feature">Distribute advertising materials</li>
      <li class="plan-feature">2 free registrations</li>
    </ul>
  </div>
  </div>
  <div class="col-md-3">
  <div class="plan">
    <div class="plan-name">
      <h4>Bronze</h4>
      <span>$3,000</span>
    </div>
    <ul style="padding:0;">
      <li class="plan-feature">Logo in Web Banner</li>
      <li class="plan-feature">Logo in Call for Participation</li>
      <li class="plan-feature">Logo in Program Brochure</li>
      <li class="plan-feature">Logo in Home Page</li>
    </ul>
  </div>
  </div>
</div>
<!-- END 4 column pricing table(equal height) -->
