<!-- START 4 column pricing table(equal height) -->

<div class="row pricing-table">
  <div class="col-md-3">
  <div class="plan">
    <div class="plan-name">
      <h4>Platinum</h4>
      <span>$15,000</span>
    </div>
    <ul style="padding:0;">
      <li class="plan-feature">Logo in web banner</li>
      <li class="plan-feature">Logo in call for participation</li>
      <li class="plan-feature">Logo in program brochure</li>
      <li class="plan-feature">Logo in home page</li>
      <li class="plan-feature">Setup recruiting tables</li>
      <li class="plan-feature">Distribute advertising materials</li>
      <li class="plan-feature">Atleast 8 free registrations</li>
      <li class="plan-feature">Can sponsor recruiting receptions</li>
    </ul>
  </div>
  </div>
  <div class="col-md-3">
  <div class="plan">
    <div class="plan-name">
      <h4>Gold</h4>
      <span>$10,000</span>
    </div>
    <ul style="padding:0;">
      <li class="plan-feature">Logo in web banner</li>
      <li class="plan-feature">Logo in call for participation</li>
      <li class="plan-feature">Logo in program brochure</li>
      <li class="plan-feature">Logo in home page</li>
      <li class="plan-feature">Setup recruiting tables</li>
      <li class="plan-feature">Distribute advertising materials</li>
      <li class="plan-feature">Atleast 4 free registrations</li>
      <li class="plan-feature">Can sponsor recruiting receptions</li>
    </ul>
  </div>
  </div>
  <div class="col-md-3">
  <div class="plan">
    <div class="plan-name">
      <h4>Silver</h4>
      <span>$5,000</span>
    </div>
    <ul style="padding:0;">
      <li class="plan-feature">Logo in web banner</li>
      <li class="plan-feature">Logo in call for participation</li>
      <li class="plan-feature">Logo in program brochure</li>
      <li class="plan-feature">Logo in home page</li>
      <li class="plan-feature">Setup recruiting tables</li>
      <li class="plan-feature">Distribute advertising materials</li>
      <li class="plan-feature">Atleast 2 free registrations</li>
    </ul>
  </div>
  </div>
  <div class="col-md-3">
  <div class="plan">
    <div class="plan-name">
      <h4>Bronze</h4>
      <span>$3,000</span>
    </div>
    <ul style="padding:0;">
      <li class="plan-feature">Logo in web banner</li>
      <li class="plan-feature">Logo in call for participation</li>
      <li class="plan-feature">Logo in program brochure</li>
      <li class="plan-feature">Logo in home page</li>
    </ul>
  </div>
  </div>
</div>
<!-- END 4 column pricing table(equal height) -->
