<h3 class="session-date">{{include.date}}</h3>
<table class="table table-responsive schedule">
  <!-- <thead>
      <tr><th class><h4></h4></th><th></th><th></th></tr>
  </thead> -->
  <tbody>
    {% for session in site.data.sessions[include.key] %}
      <tr>
        <th class="time-column">
          <div class="session-time">
            <div class="session-start">{{session.start}}</div>
            <div class="session-end">{{session.end}}</div>
          </div>
        </th>
        <th class="session-info">
          {% assign is_keynote = false %}
          {% if session.title contains 'Keynote' %}
            {% assign is_keynote = true %}
          {% endif %}
          <h4 class="session-title">{{session.title}}</h4>
          {% if session.chair %}
            <h5 style="margin-top:4px;">Chair: {{session.chair}}</h5>
          {% endif %}
          <div class="details">
            {% if session.talks %}
            <ul class="session-list">
              {% assign showlinks = false %}
              {% if include.showlinks == "true" %}
                {% assign showlinks = true %}
              {% endif %}
              {% for talk in session.talks %}
              <li>
                {% if talk.url and (showlinks or is_keynote) %}
                <a href="{{talk.url}}"><h4 class="talk-title-link">{{ talk.title }}</h4></a>
                {% else %}
                <h4 class="talk-title">{{ talk.title }}</h4>
                {% endif %}
                {% assign authors = talk.authors | join: ', ' %}
                <p class="course-meta" style="line-height:18px;">{{authors}}</p>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </th>
        <th></th>
      </tr>
    {% endfor %}
  </tbody>
</table>
