<div class="row">
  <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="http://research.google.com"><img alt="Google logo" src="assets/img/logos-Google.png" style="border:0px currentColor" width="200"/></a>
  </div>
  <div class="col-md-6" style="padding-left:0; padding-right:0;">
    <a href="http://salesforce.com" rel="nofollow"><img alt="Salesforce logo" src="assets/img/logos-Salesforce.png" style="border:0px currentColor" /></a>
  </div>
</div>
<br/>
<br/>
<div class="row">
  <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="http://www.vmware.com" target="_blank" rel="nofollow"><img alt="www.vmware.com" border="0" src="assets/img/logos-VMware.png" style="border:0px currentColor" width="200" /></a>
  </div>
</div>
