<!-- Slider -->
<div id="slider">
  <div class="container">
    <div class="slider-wrapper">
      <div class="row">
        <div class="col-md-9 col-sm-12">
          <div class="row">
            <div class="image-carousel">
              <div class="slide">
                <div class="image-carousel-slide"><img src="assets/img/big-island-1.jpg" alt=""></div>
              </div><!-- /.slide -->
            </div><!-- /.image-carousel -->
          </div><!-- /.row -->
        </div><!-- /.col-md-9 -->
        <div class="col-md-3 col-sm-12">
          <header>
            <h2>ACM Symposium on Cloud Computing 2015</h2>
            <h3 style="color:white">Hilton Waikoloa Village<br>
              Kohala Coast, Hawai'i</h3>
            <h3 style="color:white">August 27 - 29, 2015</h3>
          </header>
        </div><!-- /.col-md-3 -->

      </div><!-- /.row -->
    </div><!-- /.slider-wrapper -->
  </div><!-- /.container -->
</div>
<!-- end Slider -->
