<div class="row">
  <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="http://www.sigmod.org" target="_blank" rel="nofollow"><img alt="www.sigmod.org" border="0" src="assets/img/logos-SIGMOD.gif" style="border:0px currentColor" width="200" /></a>
  </div>
  <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="http://www.sigops.org" target="_blank" rel="nofollow"><img alt="www.sigops.org" border="0" src="assets/img/logos-SIGOPS.jpg" style="border:0px currentColor" width="200" /></a>
  </div>
</div>
<br/>
<br/>
<div class="row">
  <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="http://www.nsf.gov" target="_blank" rel="nofollow"><img alt="www.nsf.gov" border="0" src="assets/img/logos-NSF.jpg" style="border:0px currentColor" width="150" /></a>
  </div>
</div>
