<div class="row">
  <div class="col-md-6" style="padding-left:0;">
    <ul class="topics-list">
      <li>Administration and Manageability</li>
      <li>Data Privacy</li>
      <li>Data Services Architectures</li>
      <li>Distributed and Parallel Query Processing</li>
      <li>Energy Management</li>
      <li>Distributed and Cloud Networking</li>
      <li>High Availability and Reliability</li>
      <li>Infrastructure Technologies</li>
      <li>Large Scale Cloud Applications</li>
    </ul>
  </div>
  <div class="col-md-6" style="padding-left:0;">
    <ul class="topics-list">
      <li>Multi-Tenancy</li>
      <li>Programming Models</li>
      <li>Provisioning and Metering</li>
      <li>Resource Management and Performance</li>
      <li>Scientific Data Management</li>
      <li>Security of Services</li>
      <li>Service Level Agreements</li>
      <li>Storage Architectures</li>
      <li>Transactional Models</li>
      <li>Virtualization Technologies</li>
    </ul>
  </div>
</div>
